html, body {
  padding: 0;
  margin: 0;
  background: url("../../images/whale_tail.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #cccccc;
  height: 100%; 
  width: 100%;
}


/* ..............Map Decorations................ */

#map
{
    width: 1000px;
    height:600px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

.info {
  padding: 6px 8px;
  font: 8px/1px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }

  .legend {
  background-color: “black”;
  line-height: 25px;
  color: #555;
  width: auto;
  font-size: 15px;
  }

  .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
  font-size: 20px;
}

  .table-row {
    margin-bottom: 40px;
}


/* ..............Table Decorations................ */

  /* .table-striped {
    background-color: #fff;
  } */

  .my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    background-color: rgb(0, 64, 94)
    }

.table-head {
  width: 50%;
}

.filter {
  background-color: rgb(0, 64, 94);
}

.panel-body {
  margin-top: 20px;
  padding-left: 80px;
}

.table-head{
  font-size: x-large;
  color: white;
  font-weight: bolder;
  text-align: center;
}


/* ..............Card Decorations................ */

.card-deck {
  background-color: rgb(0, 64, 94);
  padding: 20px;
  margin-bottom: 20vh;
  margin-top: 5vh;
}

.card {
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 40vh;
  overflow: auto;
}

.card-img-top {
  align-content: center;
  width: 249px;
  height: auto;
}

.jumbotron {
  background-image: url("../../images/black_orca.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101% 100%;
  background-color: black;
}

.btn {
  background-color: white;
  color: black;
}


/* ..............Nav Decorations................ */

.navbar-brand {
  color: white;
  font-weight: bolder;
}

.nav-item,
.nav-link {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

li {
  list-style-type: none;
}


/* ..............Whale Decorations................ */

#whale {
  height: 99.5%; 
  width: 100%;
}


/* ..............Graph Decorations................ */

.image-container {
  text-align: center;
}

img {
  width: 500px;
  height: auto;
  background-color: white; 
}


/* .............Header bar animations............. */
.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 10;
  bottom: 8;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: rgb(1, 65, 65);
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}