body {
  padding: 0;
  margin: 0;
  background-image: url("../../images/whale_tail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

#map
{
    width: 1000px;
    height:600px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

.info {
  padding: 6px 8px;
  font: 8px/1px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }
  .legend {
  background-color: “black”;
  line-height: 25px;
  color: #555;
  width: auto;
  }
  .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

.card-img-top {
  width: 200px;
  height: auto;
}

.jumbotron {
  background-image: url("../../images/black_orca.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}